* {
    font-family: Poppins, sans-serif;
}

body {
    /* margin: auto; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(104, 79, 124) 3%, rgb(66, 97, 63) 38%, rgb(90, 63, 76) 68%, rgb(92, 65, 65) 98%);
    animation: gradient 30s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    /* border: 3px solid black; */
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}



.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 1850px;
    height: 60px;
    background-color: #c7a4a410;
    /* Change to desired color */
    /* border: 2px solid black; */
}

.navbar-scrolled {
    background-color: salmon;
}


.icon {
    width: 160px;
    height: 70px;
    margin-left: 250px;
    /* border: 2px solid black; */
}

.logo {
    font-size: 25px;
    width: 120px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 8px;
    padding-right: 5px;
    padding-top: 2px;
    margin-top: 15px;
    border-radius: 20px;
    background-color: rgba(173, 169, 169, 0.45);
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.menu {
    width: 600px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 400px;
    /* border: 2px solid black; */
}

ul {
    display: flex;
    padding-top: 7px;
}

ul li {
    list-style-type: none;
    padding-left: 50px;
    margin-left: 0px;
}

ul li a {
    margin: 20px 0 0 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #183d5f;
}

.links {
    height: 70px;
    width: 110px;
    position: absolute;
    top: 0;
    right: 100px;
    /* border: 2px solid black; */
}

.links i {
    font-size: 20px;
    padding-top: 25px;
    margin-left: 12px;
    color: rgb(10, 10, 10);
}

.links a {
    text-decoration: none;
}

#linkedin:hover {
    color: #134a77;
}

#github:hover {
    color: #000000;
}


.profile {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 10px rgba(0, 0, 0, 0.2);
    transition: all 5s ease-in-out;

    /* border-radius: 30% 70% 70% 30% / 30% 57% 43% 70%; */
    margin: auto;
    margin-top: 100px;
    background-image: url(profile.JPEG);
    background-size: cover;
    overflow: hidden;
    /* Ensure the gradient border doesn't overflow */
}

/* .profile::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    z-index: -1;
    border-radius: 30% 70% 70% 30% / 30% 57% 43% 70%;
    background: linear-gradient(to top, #11998e, #38ef7d);
} */



.profile:hover {
    border: 4px rgba(182, 98, 98, 0.5);
}

.name-position {
    position: absolute;
    left: 800px;
    display: inline-block;
    color: #000000;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.name-position h3 {
    font-size: 25px;
    margin-top: -15px;
    color: rgba(8, 5, 4, 0.8);
}

#mudit {
    display: inline-block;
    margin-top: -20px;
    position: absolute;
    top: 46.5px;
    right: 0px;
    color: #8d0909;
}

.para {
    color: rgb(10, 10, 10);
    font-size: 65px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin-top: 130px;
    margin-left: 600px;
    /* border: 2px solid black; */
}


.btn1 {
    height: 60px;
    width: 150px;
    margin-left: 140px;
    background-color: transparent;
    color: aliceblue;
    font-size: 17px;
    border: none;
    background-color: rgba(173, 169, 169, 0.5);
    border-radius: 10px;
    font-weight: bold;
}

.btn1:hover {
    background-color: #4d280a;
    cursor: pointer;
}

.skill {
    height: 80px;
    width: 700px;
    color: white;
    position: absolute;
    left: 550px;
    top: 750px;
}


.skill i {
    color: #fff;
    margin-top: 12px;
    margin-left: 115px;
    font-size: 40px;
    transition: 0.3s ease;
    transition: transform .2s;

}

#html:hover {
    color: #ff7b00;
    transform: scale(1.3);
}

#css:hover {
    color: #408ece;
    transform: scale(1.3);
}

#js:hover {
    color: #fcba07;
    transform: scale(1.3);
}

#react:hover {
    color: #1275c5;
    transform: scale(1.3);
}

.about {
    display: inline-block;
    position: relative;
    top: 350px;
    margin-bottom: 400px;
    width: 1820px;
    height: 700px;

    /* border: 2px solid black; */
}

#a-head1 {
    text-align: center;
    font-size: 12px;
    font-family: Poppins, sans-serif;
    color: white;
    margin-top: 15px;
}

#a-head2 {
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: Poppins, sans-serif;
    margin-top: -10px;
}

.a-left {
    height: 500px;
    width: 350px;
    position: relative;
    left: 380px;
    /* border: 2px solid black; */
}

.i {
    height: 350px;
    width: 270px;
    /* border: 5px solid black; */
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    border-radius: 20px;
    position: relative;
    left: 30px;
    top: 50px;
    background-image: url(aboutPic.jpg);
    background-size: cover;
}

.a-right {
    height: 500px;
    width: 800px;
    position: relative;
    bottom: 505px;
    left: 800px;
    /* border: 2px solid black; */
}

.about-me-txt {
    font-size: 18px;
    font-weight: lighter;
    font-family: Poppins, sans-serif;
    color: #fff;
    margin-top: 100px;
    margin-left: 120px;
}

#about-contact-icon {
    font-size: 15px;
    position: relative;
    left: 100px;
    color: #fff;
}

#about-contact-icon i {
    margin-left: 20px;
}

#a-name {
    margin-left: 80px;
}

#a-email {
    margin-left: 80px;
}

#a-github {
    margin-left: 70px;
}

.download-btn {
    font-size: 18px;
    height: 50px;
    width: 180px;
    margin-top: 30px;
    margin-left: 115px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    animation: fade-up 0.5s 0.4s backwards;
    box-shadow: 0 6px 23px rgba(0, 0, 0, 0.42);
    transition: transform .2s;
}

.download-btn:hover {
    transform: scale(1.04) ;
}
.download-btn a {
    text-decoration: none;
    color: #000000;
}

.project {
    height: 700px;
    width: 1800px;
    /* border: 2px solid black; */
}

#gym-span {
    /* border: 2px solid black; */
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    top: 28px;
    left: 380px;
    font-size: 20px;
    color: #fff;
    background-color: #cf811a;
    border-radius: 10px;
    z-index: 1;
    display: inline-block;
}

.left {
    width: 750px;
    height: 500px;
    position: relative;
    left: 70px;
    top: -30px;
    /* border: 2px solid black; */
}

.left-i {
    width: 700px;
    height: 300px;
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    border: 4px solid #fff;
    position: relative;
    left: 10px;
    top: 50px;
    background-image: url(gym.png);
    background-size: cover;
    transition: transform .2s;
}

.left-i:hover {
    transform: scale(1.1);
}

.left-btn {
    height: 40px;
    width: 700px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 90px;
    margin-left: 15px;
    transition: transform .2s;
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.left-btn i {
    font-size: 25px;
}

.left-btn:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#crud-span {
    /* border: 2px solid black; */
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    bottom: 511px;
    left: 1300px;
    font-size: 20px;
    color: #fff;
    background-color: #cf811a;
    border-radius: 10px;
    z-index: 1;
    display: inline-block;
}

.right {
    width: 750px;
    height: 500px;
    position: relative;
    left: 1000px;
    bottom: 567px;
    /* border: 2px solid black; */
}

.right-i {
    width: 700px;
    height: 300px;
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    border: 4px solid #fff;
    position: relative;
    top: 50px;
    left: 10px;
    background-image: url(crud.png);
    background-size: cover;
    transition: transform .2s;
}

.right-i:hover {
    transform: scale(1.1);
}

.right-btn {
    height: 40px;
    width: 700px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 90px;
    margin-left: 15px;
    transition: transform .2s;
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.right-btn i {
    font-size: 25px;
}

.right-btn:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#contact-t1 {
    margin-top: 250px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#contact-t2 {
    text-align: center;
    color: #fff;
    font-size: 45px;
    margin-top: -15px;
}

.form {
    width: 1100px;
    height: 450px;
    margin: auto;
    margin-top: 0px;
    /* margin-bottom: 200px; */
    border-radius: 10px;
    margin-left: 330px;
    /* border: 2px solid white; */
    background-color: rgba(0, 0, 0, 0.5);
}

.address {
    height: 400px;
    width: 400px;
    position: relative;
    top: 20px;
    left: 35px;
    /* border: 2px solid black; */
}

#greet {
    font-size: 30px;
    margin-top: 15px;
    margin-left: 20px;
    color: white;
}

#q-text {
    font-size: 15px;
    margin-top: 8px;
    margin-left: 20px;
    color: white;
}

.location {
    position: relative;
    left: 25px;
    top: 40px;
    color: #cf811a;
}


.email {
    position: relative;
    left: 25px;
    top: 40px;
    color: #cf811a;
}

.phone {
    position: relative;
    left: 25px;
    top: 40px;
    color: #cf811a;
}

#logo {
    font-size: 35px;

}

h4 {
    font-size: 20px;
    margin-top: -30px;
    text-align: left;
    margin-left: 50px;
    font-weight: lighter;
}

.link {
    font-size: 50px;
    display: inline-block;
    position: relative;
    left: 30px;
    top: 20px;
    /* border: 3px solid black; */
}

.link i {
    font-size: 20px;
    padding-top: 25px;
    margin-left: 12px;
    color: #cf811a;
}

.link a {
    text-decoration: none;
    font-size: none;
}

#linkedin1:hover {
    color: #134a77;
}

#github1:hover {
    color: #000000;
}

.input {
    height: 450px;
    width: 580px;
    position: relative;
    left: 480px;
    bottom: 380px;
    display: inline-block;
    /* border: 2px solid black; */
}

#input-h {
    margin-left: 25px;
    margin-top: 5px;
    font-size: 30px;
    color: white;
}

#fn {
    height: 45px;
    width: 250px;
    font-size: 20px;
    border: 2px solid #cf811a;
    border-radius: 6px;
    margin-right: 5px;
    margin-left: 20px;
    background-color: rgba(163, 157, 143, 0.1);
    color: #fff;
}

#ln {
    height: 45px;
    width: 250px;
    font-size: 20px;
    border: 2px solid #cf811a;
    border-radius: 6px;
    margin-right: 5px;
    background-color: rgba(163, 157, 143, 0.1);
    color: #fff;
}

#ph {
    height: 45px;
    width: 250px;
    font-size: 20px;
    border: 2px solid #cf811a;
    border-radius: 6px;
    margin-right: 5px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: rgba(163, 157, 143, 0.1);
    color: #fff;
}

#e-m {
    height: 45px;
    width: 250px;
    font-size: 20px;
    border: 2px solid #cf811a;
    border-radius: 6px;
    margin-top: 10px;
    margin-right: 5px;
    background-color: rgba(163, 157, 143, 0.1);
    color: #fff;
}

#textarea {
    width: 522px;
    height: 150px;
    border: 2px solid #cf811a;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    background-color: rgba(163, 157, 143, 0.1);
    color: #fff;
}

#submitbtn {
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 100px;
    margin-top: 20px;
    margin-left: 450px;
    border-radius: 10px;
    border: none;
    background-color: #cf811a;
    color: #fff;
    cursor: pointer;
}

#submitbtn:hover {
    color: #fff;
    background-color: rgba(173, 169, 169, 0.45);
}

#fn:focus {
    outline: none;
}

#ln:focus {
    outline: none;
}

#ph:focus {
    outline: none;
}

#e-m:focus {
    outline: none;
}

#textarea:focus {
    outline: none;
}

#submitbtn:focus {
    outline: none;
}



.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: 1850px;
    height: 40px;
    z-index: 0;
    padding-top: 15px;
    background-color: #c7a4a410;
    color: white;
}

